In [2]:
import pandas as pd
import urllib.request as url
import matplotlib.pyplot as plt
import numpy as np
import json
plt.style.use('ggplot')

In [3]:
res = url.urlopen('https://api.covid19india.org/states_daily.json')

In [4]:
data = json.load(res)

In [5]:
df = pd.DataFrame(data['states_daily'])

In [6]:
df.head()

,an,ap,ar,as,br,ch,ct,date,dateymd,dd,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Recovered,0,0,0,9,0,4,0,0
2,0,0,0,0,0,0,0,14-Mar-20,2020-03-14,0,...,0,Deceased,0,0,0,2,0,0,0,0
3,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Confirmed,2,0,0,27,0,1,0,0
4,0,0,0,0,0,0,0,15-Mar-20,2020-03-15,0,...,0,Recovered,1,0,0,4,0,0,0,0

In [7]:
df['dateymd'] = pd.to_datetime(df['dateymd'])

In [8]:
x = df[['tg','tn','tr']].values
y = df['tt'].values

In [9]:
n= len(x)
x0 = np.ones(n)

In [11]:
x = np.c_[x0,x]

In [13]:
x.shape

(1458, 4)

In [14]:
confirmed_df = df[df['status'] == 'Confirmed']

In [15]:
total_cases = confirmed_df['tt']

In [17]:
total_cases[:5]

0     81
3     27
6     15
9     11
12    37
Name: tt, dtype: object

In [18]:
total_cases[1:5]

3     27
6     15
9     11
12    37
Name: tt, dtype: object

In [19]:
x =[]
y =[]
for i in range(len(total_cases) - 4):
    x.append(total_cases[i:i+4])
    y.append(total_cases.iloc[i+4])

In [22]:
x[0]

0    81
3    27
6    15
9    11
Name: tt, dtype: object

In [23]:
x[1]

3     27
6     15
9     11
12    37
Name: tt, dtype: object

In [24]:
y[0]

'37'

In [25]:
x,y

([0    81
  3    27
  6    15
  9    11
  Name: tt, dtype: object,
  3     27
  6     15
  9     11
  12    37
  Name: tt, dtype: object,
  6     15
  9     11
  12    37
  15    27
  Name: tt, dtype: object,
  9     11
  12    37
  15    27
  18    58
  Name: tt, dtype: object,
  12    37
  15    27
  18    58
  21    78
  Name: tt, dtype: object,
  15    27
  18    58
  21    78
  24    67
  Name: tt, dtype: object,
  18     58
  21     78
  24     67
  27    102
  Name: tt, dtype: object,
  21     78
  24     67
  27    102
  30     64
  Name: tt, dtype: object,
  24     67
  27    102
  30     64
  33     90
  Name: tt, dtype: object,
  27    102
  30     64
  33     90
  36     65
  Name: tt, dtype: object,
  30     64
  33     90
  36     65
  39    164
  Name: tt, dtype: object,
  33     90
  36     65
  39    164
  42    143
  Name: tt, dtype: object,
  36     65
  39    164
  42    143
  45    110
  Name: tt, dtype: object,
  39    164
  42    143
  45    110
  48    187
  Name: tt, dtype: object,
  42    143
  45    110
  48    187
  51    309
  Name: tt, dtype: object,
  45    110
  48    187
  51    309
  54    424
  Name: tt, dtype: object,
  48    187
  51    309
  54    424
  57    486
  Name: tt, dtype: object,
  51    309
  54    424
  57    486
  60    560
  Name: tt, dtype: object,
  54    424
  57    486
  60    560
  63    579
  Name: tt, dtype: object,
  57    486
  60    560
  63    579
  66    609
  Name: tt, dtype: object,
  60    560
  63    579
  66    609
  69    484
  Name: tt, dtype: object,
  63    579
  66    609
  69    484
  72    572
  Name: tt, dtype: object,
  66    609
  69    484
  72    572
  75    565
  Name: tt, dtype: object,
  69    484
  72    572
  75    565
  78    813
  Name: tt, dtype: object,
  72    572
  75    565
  78    813
  81    871
  Name: tt, dtype: object,
  75    565
  78    813
  81    871
  84    854
  Name: tt, dtype: object,
  78    813
  81    871
  84    854
  87    758
  Name: tt, dtype: object,
  81     871
  84     854
  87     758
  90    1243
  Name: tt, dtype: object,
  84     854
  87     758
  90    1243
  93    1031
  Name: tt, dtype: object,
  87     758
  90    1243
  93    1031
  96     886
  Name: tt, dtype: object,
  90    1243
  93    1031
  96     886
  99    1061
  Name: tt, dtype: object,
  93     1031
  96      886
  99     1061
  102     922
  Name: tt, dtype: object,
  96      886
  99     1061
  102     922
  105    1371
  Name: tt, dtype: object,
  99     1061
  102     922
  105    1371
  108    1580
  Name: tt, dtype: object,
  102     922
  105    1371
  108    1580
  111    1239
  Name: tt, dtype: object,
  105    1371
  108    1580
  111    1239
  114    1537
  Name: tt, dtype: object,
  108    1580
  111    1239
  114    1537
  117    1292
  Name: tt, dtype: object,
  111    1239
  114    1537
  117    1292
  120    1667
  Name: tt, dtype: object,
  114    1537
  117    1292
  120    1667
  123    1408
  Name: tt, dtype: object,
  117    1292
  120    1667
  123    1408
  126    1835
  Name: tt, dtype: object,
  120    1667
  123    1408
  126    1835
  129    1607
  Name: tt, dtype: object,
  123    1408
  126    1835
  129    1607
  132    1568
  Name: tt, dtype: object,
  126    1835
  129    1607
  132    1568
  135    1902
  Name: tt, dtype: object,
  129    1607
  132    1568
  135    1902
  138    1705
  Name: tt, dtype: object,
  132    1568
  135    1902
  138    1705
  141    1802
  Name: tt, dtype: object,
  135    1902
  138    1705
  141    1802
  144    2396
  Name: tt, dtype: object,
  138    1705
  141    1802
  144    2396
  147    2564
  Name: tt, dtype: object,
  141    1802
  144    2396
  147    2564
  150    2952
  Name: tt, dtype: object,
  144    2396
  147    2564
  150    2952
  153    3656
  Name: tt, dtype: object,
  147    2564
  150    2952
  153    3656
  156    2971
  Name: tt, dtype: object,
  150    2952
  153    3656
  156    2971
  159    3602
  Name: tt, dtype: object,
  153    3656
  156    2971
  159    3602
  162    3344
  Name: tt, dtype: object,
  156    2971
  159    3602
  162    3344
  165    3339
  Name: tt, dtype: object,
  159    3602
  162    3344
  165    3339
  168    3175
  Name: tt, dtype: object,
  162    3344
  165    3339
  168    3175
  171    4311
  Name: tt, dtype: object,
  165    3339
  168    3175
  171    4311
  174    3592
  Name: tt, dtype: object,
  168    3175
  171    4311
  174    3592
  177    3562
  Name: tt, dtype: object,
  171    4311
  174    3592
  177    3562
  180    3726
  Name: tt, dtype: object,
  174    3592
  177    3562
  180    3726
  183    3991
  Name: tt, dtype: object,
  177    3562
  180    3726
  183    3991
  186    3808
  Name: tt, dtype: object,
  180    3726
  183    3991
  186    3808
  189    4794
  Name: tt, dtype: object,
  183    3991
  186    3808
  189    4794
  192    5049
  Name: tt, dtype: object,
  186    3808
  189    4794
  192    5049
  195    4628
  Name: tt, dtype: object,
  189    4794
  192    5049
  195    4628
  198    6154
  Name: tt, dtype: object,
  192    5049
  195    4628
  198    6154
  201    5720
  Name: tt, dtype: object,
  195    4628
  198    6154
  201    5720
  204    6023
  Name: tt, dtype: object,
  198    6154
  201    5720
  204    6023
  207    6536
  Name: tt, dtype: object,
  201    5720
  204    6023
  207    6536
  210    6663
  Name: tt, dtype: object,
  204    6023
  207    6536
  210    6663
  213    7111
  Name: tt, dtype: object,
  207    6536
  210    6663
  213    7111
  216    6414
  Name: tt, dtype: object,
  210    6663
  213    7111
  216    6414
  219    5907
  Name: tt, dtype: object,
  213    7111
  216    6414
  219    5907
  222    7246
  Name: tt, dtype: object,
  216    6414
  219    5907
  222    7246
  225    7254
  Name: tt, dtype: object,
  219    5907
  222    7246
  225    7254
  228    8138
  Name: tt, dtype: object,
  222    7246
  225    7254
  228    8138
  231    8364
  Name: tt, dtype: object,
  225    7254
  228    8138
  231    8364
  234    8789
  Name: tt, dtype: object,
  228    8138
  231    8364
  234    8789
  237    7723
  Name: tt, dtype: object,
  231    8364
  234    8789
  237    7723
  240    8812
  Name: tt, dtype: object,
  234    8789
  237    7723
  240    8812
  243    9689
  Name: tt, dtype: object,
  237    7723
  240    8812
  243    9689
  246    9847
  Name: tt, dtype: object,
  240    8812
  243    9689
  246    9847
  249    9472
  Name: tt, dtype: object,
  243     9689
  246     9847
  249     9472
  252    10408
  Name: tt, dtype: object,
  246     9847
  249     9472
  252    10408
  255    10882
  Name: tt, dtype: object,
  249     9472
  252    10408
  255    10882
  258     8536
  Name: tt, dtype: object,
  252    10408
  255    10882
  258     8536
  261     9981
  Name: tt, dtype: object,
  255    10882
  258     8536
  261     9981
  264    11156
  Name: tt, dtype: object,
  258     8536
  261     9981
  264    11156
  267    11135
  Name: tt, dtype: object,
  261     9981
  264    11156
  267    11135
  270    11306
  Name: tt, dtype: object,
  264    11156
  267    11135
  270    11306
  273    12039
  Name: tt, dtype: object,
  267    11135
  270    11306
  273    12039
  276    11405
  Name: tt, dtype: object,
  270    11306
  273    12039
  276    11405
  279    10032
  Name: tt, dtype: object,
  273    12039
  276    11405
  279    10032
  282    11086
  Name: tt, dtype: object,
  276    11405
  279    10032
  282    11086
  285    13108
  Name: tt, dtype: object,
  279    10032
  282    11086
  285    13108
  288    13829
  Name: tt, dtype: object,
  282    11086
  285    13108
  288    13829
  291    14638
  Name: tt, dtype: object,
  285    13108
  288    13829
  291    14638
  294    15918
  Name: tt, dtype: object,
  288    13829
  291    14638
  294    15918
  297    15151
  Name: tt, dtype: object,
  291    14638
  294    15918
  297    15151
  300    13560
  Name: tt, dtype: object,
  294    15918
  297    15151
  300    13560
  303    15656
  Name: tt, dtype: object,
  297    15151
  300    13560
  303    15656
  306    16868
  Name: tt, dtype: object,
  300    13560
  303    15656
  306    16868
  309    18205
  Name: tt, dtype: object,
  303    15656
  306    16868
  309    18205
  312    18255
  Name: tt, dtype: object,
  306    16868
  309    18205
  312    18255
  315    20142
  Name: tt, dtype: object,
  309    18205
  312    18255
  315    20142
  318    19610
  Name: tt, dtype: object,
  312    18255
  315    20142
  318    19610
  321    18339
  Name: tt, dtype: object,
  315    20142
  318    19610
  321    18339
  324    18256
  Name: tt, dtype: object,
  318    19610
  321    18339
  324    18256
  327    19429
  Name: tt, dtype: object,
  321    18339
  324    18256
  327    19429
  330    21947
  Name: tt, dtype: object,
  324    18256
  327    19429
  330    21947
  333    22718
  Name: tt, dtype: object,
  327    19429
  330    21947
  333    22718
  336    24018
  Name: tt, dtype: object,
  330    21947
  333    22718
  336    24018
  339    23942
  Name: tt, dtype: object,
  333    22718
  336    24018
  339    23942
  342    22500
  Name: tt, dtype: object,
  336    24018
  339    23942
  342    22500
  345    23147
  Name: tt, dtype: object,
  339    23942
  342    22500
  345    23147
  348    25561
  Name: tt, dtype: object,
  342    22500
  345    23147
  348    25561
  351    25790
  Name: tt, dtype: object,
  345    23147
  348    25561
  351    25790
  354    27762
  Name: tt, dtype: object,
  348    25561
  351    25790
  354    27762
  357    27757
  Name: tt, dtype: object,
  351    25790
  354    27762
  357    27757
  360    29106
  Name: tt, dtype: object,
  354    27762
  357    27757
  360    29106
  363    28178
  Name: tt, dtype: object,
  357    27757
  360    29106
  363    28178
  366    29917
  Name: tt, dtype: object,
  360    29106
  363    28178
  366    29917
  369    32607
  Name: tt, dtype: object,
  363    28178
  366    29917
  369    32607
  372    35468
  Name: tt, dtype: object,
  366    29917
  369    32607
  372    35468
  375    34820
  Name: tt, dtype: object,
  369    32607
  372    35468
  375    34820
  378    37411
  Name: tt, dtype: object,
  372    35468
  375    34820
  378    37411
  381    40235
  Name: tt, dtype: object,
  375    34820
  378    37411
  381    40235
  384    36806
  Name: tt, dtype: object,
  378    37411
  381    40235
  384    36806
  387    39170
  Name: tt, dtype: object,
  381    40235
  384    36806
  387    39170
  390    45601
  Name: tt, dtype: object,
  384    36806
  387    39170
  390    45601
  393    48443
  Name: tt, dtype: object,
  387    39170
  390    45601
  393    48443
  396    48888
  Name: tt, dtype: object,
  390    45601
  393    48443
  396    48888
  399    50072
  Name: tt, dtype: object,
  393    48443
  396    48888
  399    50072
  402    48932
  Name: tt, dtype: object,
  396    48888
  399    50072
  402    48932
  405    46484
  Name: tt, dtype: object,
  399    50072
  402    48932
  405    46484
  408    49631
  Name: tt, dtype: object,
  402    48932
  405    46484
  408    49631
  411    52479
  Name: tt, dtype: object,
  405    46484
  408    49631
  411    52479
  414    54968
  Name: tt, dtype: object,
  408    49631
  411    52479
  414    54968
  417    57486
  Name: tt, dtype: object,
  411    52479
  414    54968
  417    57486
  420    55117
  Name: tt, dtype: object,
  414    54968
  417    57486
  420    55117
  423    52672
  Name: tt, dtype: object,
  417    57486
  420    55117
  423    52672
  426    50488
  Name: tt, dtype: object,
  420    55117
  423    52672
  426    50488
  429    51282
  Name: tt, dtype: object,
  423    52672
  426    50488
  429    51282
  432    56626
  Name: tt, dtype: object,
  426    50488
  429    51282
  432    56626
  435    62170
  Name: tt, dtype: object,
  429    51282
  432    56626
  435    62170
  438    61455
  Name: tt, dtype: object,
  432    56626
  435    62170
  438    61455
  441    65156
  Name: tt, dtype: object,
  435    62170
  438    61455
  441    65156
  444    62117
  Name: tt, dtype: object,
  438    61455
  441    65156
  444    62117
  447    53016
  Name: tt, dtype: object,
  441    65156
  444    62117
  447    53016
  450    61252
  Name: tt, dtype: object,
  444    62117
  447    53016
  450    61252
  453    67066
  Name: tt, dtype: object,
  447    53016
  450    61252
  453    67066
  456    64141
  Name: tt, dtype: object,
  450    61252
  453    67066
  456    64141
  459    65610
  Name: tt, dtype: object,
  453    67066
  456    64141
  459    65610
  462    63986
  Name: tt, dtype: object,
  456    64141
  459    65610
  462    63986
  465    58096
  Name: tt, dtype: object,
  459    65610
  462    63986
  465    58096
  468    54298
  Name: tt, dtype: object,
  462    63986
  465    58096
  468    54298
  471    64999
  Name: tt, dtype: object,
  465    58096
  468    54298
  471    64999
  474    69196
  Name: tt, dtype: object,
  468    54298
  471    64999
  474    69196
  477    68518
  Name: tt, dtype: object,
  471    64999
  474    69196
  477    68518
  480    68519
  Name: tt, dtype: object,
  474    69196
  477    68518
  480    68519
  483    70067
  Name: tt, dtype: object,
  477    68518
  480    68519
  483    70067
  486    61749
  Name: tt, dtype: object,
  480    68519
  483    70067
  486    61749
  489    59696
  Name: tt, dtype: object,
  483    70067
  486    61749
  489    59696
  492    66873
  Name: tt, dtype: object,
  486    61749
  489    59696
  492    66873
  495    75995
  Name: tt, dtype: object,
  489    59696
  492    66873
  495    75995
  498    76827
  Name: tt, dtype: object,
  492    66873
  495    75995
  498    76827
  501    76657
  Name: tt, dtype: object,
  495    75995
  498    76827
  501    76657
  504    78479
  Name: tt, dtype: object,
  498    76827
  501    76657
  504    78479
  507    79461
  Name: tt, dtype: object,
  501    76657
  504    78479
  507    79461
  510    68766
  Name: tt, dtype: object,
  504    78479
  507    79461
  510    68766
  513    78168
  Name: tt, dtype: object,
  507    79461
  510    68766
  513    78168
  516    82860
  Name: tt, dtype: object,
  510    68766
  513    78168
  516    82860
  519    84156
  Name: tt, dtype: object,
  513    78168
  516    82860
  519    84156
  522    87115
  Name: tt, dtype: object,
  516    82860
  519    84156
  522    87115
  525    90600
  Name: tt, dtype: object,
  519    84156
  522    87115
  525    90600
  528    91725
  Name: tt, dtype: object,
  522    87115
  525    90600
  528    91725
  531    75015
  Name: tt, dtype: object,
  525    90600
  528    91725
  531    75015
  534    89855
  Name: tt, dtype: object,
  528    91725
  531    75015
  534    89855
  537    95536
  Name: tt, dtype: object,
  531    75015
  534    89855
  537    95536
  540    96762
  Name: tt, dtype: object,
  534    89855
  537    95536
  540    96762
  543    97655
  Name: tt, dtype: object,
  537    95536
  540    96762
  543    97655
  546    94414
  Name: tt, dtype: object,
  540    96762
  543    97655
  546    94414
  549    93220
  Name: tt, dtype: object,
  543    97655
  546    94414
  549    93220
  552    81913
  Name: tt, dtype: object,
  546    94414
  549    93220
  552    81913
  555    91098
  Name: tt, dtype: object,
  549    93220
  552    81913
  555    91098
  558    97860
  Name: tt, dtype: object,
  552    81913
  555    91098
  558    97860
  561    96787
  Name: tt, dtype: object,
  555    91098
  558    97860
  561    96787
  564    92973
  Name: tt, dtype: object,
  558    97860
  561    96787
  564    92973
  567    92574
  Name: tt, dtype: object,
  561    96787
  564    92973
  567    92574
  570    87395
  Name: tt, dtype: object,
  564    92973
  567    92574
  570    87395
  573    74493
  Name: tt, dtype: object,
  567    92574
  570    87395
  573    74493
  576    83362
  Name: tt, dtype: object,
  570    87395
  573    74493
  576    83362
  579    86703
  Name: tt, dtype: object,
  573    74493
  576    83362
  579    86703
  582    85921
  Name: tt, dtype: object,
  576    83362
  579    86703
  582    85921
  585    85717
  Name: tt, dtype: object,
  579    86703
  582    85921
  585    85717
  588    88759
  Name: tt, dtype: object,
  582    85921
  585    85717
  588    88759
  591    82770
  Name: tt, dtype: object,
  585    85717
  588    88759
  591    82770
  594    69669
  Name: tt, dtype: object,
  588    88759
  591    82770
  594    69669
  597    80500
  Name: tt, dtype: object,
  591    82770
  594    69669
  597    80500
  600    86748
  Name: tt, dtype: object,
  594    69669
  597    80500
  600    86748
  603    81784
  Name: tt, dtype: object,
  597    80500
  600    86748
  603    81784
  606    79883
  Name: tt, dtype: object,
  600    86748
  603    81784
  606    79883
  609    75479
  Name: tt, dtype: object,
  603    81784
  606    79883
  609    75479
  612    74770
  Name: tt, dtype: object,
  606    79883
  609    75479
  612    74770
  615    60130
  Name: tt, dtype: object,
  609    75479
  612    74770
  615    60130
  618    71869
  Name: tt, dtype: object,
  612    74770
  615    60130
  618    71869
  621    78809
  Name: tt, dtype: object,
  615    60130
  618    71869
  621    78809
  624    70797
  Name: tt, dtype: object,
  618    71869
  621    78809
  624    70797
  627    73305
  Name: tt, dtype: object,
  621    78809
  624    70797
  627    73305
  630    74418
  Name: tt, dtype: object,
  624    70797
  627    73305
  630    74418
  633    67789
  Name: tt, dtype: object,
  627    73305
  630    74418
  633    67789
  636    54262
  Name: tt, dtype: object,
  630    74418
  633    67789
  636    54262
  639    63717
  Name: tt, dtype: object,
  633    67789
  636    54262
  639    63717
  642    67811
  Name: tt, dtype: object,
  636    54262
  639    63717
  642    67811
  645    63441
  Name: tt, dtype: object,
  639    63717
  642    67811
  645    63441
  648    62304
  Name: tt, dtype: object,
  642    67811
  645    63441
  648    62304
  651    61893
  Name: tt, dtype: object,
  645    63441
  648    62304
  651    61893
  654    56519
  Name: tt, dtype: object,
  648    62304
  651    61893
  654    56519
  657    45506
  Name: tt, dtype: object,
  651    61893
  654    56519
  657    45506
  660    54348
  Name: tt, dtype: object,
  654    56519
  657    45506
  660    54348
  663    56264
  Name: tt, dtype: object,
  657    45506
  660    54348
  663    56264
  666    54371
  Name: tt, dtype: object,
  660    54348
  663    56264
  666    54371
  669    53931
  Name: tt, dtype: object,
  663    56264
  666    54371
  669    53931
  672    50366
  Name: tt, dtype: object,
  666    54371
  669    53931
  672    50366
  675    45922
  Name: tt, dtype: object,
  669    53931
  672    50366
  675    45922
  678    36019
  Name: tt, dtype: object,
  672    50366
  675    45922
  678    36019
  681    43036
  Name: tt, dtype: object,
  675    45922
  678    36019
  681    43036
  684    50188
  Name: tt, dtype: object,
  678    36019
  681    43036
  684    50188
  687    48765
  Name: tt, dtype: object,
  681    43036
  684    50188
  687    48765
  690    48117
  Name: tt, dtype: object,
  684    50188
  687    48765
  690    48117
  693    47228
  Name: tt, dtype: object,
  687    48765
  690    48117
  693    47228
  696    45928
  Name: tt, dtype: object,
  690    48117
  693    47228
  696    45928
  699    37592
  Name: tt, dtype: object,
  693    47228
  696    45928
  699    37592
  702    46027
  Name: tt, dtype: object,
  696    45928
  699    37592
  702    46027
  705    50465
  Name: tt, dtype: object,
  699    37592
  702    46027
  705    50465
  708    47628
  Name: tt, dtype: object,
  702    46027
  705    50465
  708    47628
  711    50017
  Name: tt, dtype: object,
  705    50465
  708    47628
  711    50017
  714    46153
  Name: tt, dtype: object,
  708    47628
  711    50017
  714    46153

In [37]:
x[0]

0    81
3    27
6    15
9    11
Name: tt, dtype: object