In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import ElasticNet

In [2]:
df = pd.read_csv('home_data.csv')

In [3]:
X = df.iloc[:, 3:]
y = df.iloc[:, 2]

In [4]:
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [23]:
elastic = ElasticNet(alpha=0.5, l1_ratio=1,normalize=True)
elastic.fit(X,y)

F:\anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 711288769065.875, tolerance: 291291675375.9436
  model = cd_fast.enet_coordinate_descent(

ElasticNet(alpha=0.5, l1_ratio=1, normalize=True)

In [24]:
y_pred = elastic.predict(X)

In [25]:
from sklearn.metrics import r2_score

In [26]:
r2_score(y, y_pred)

0.6997461009088247

In [27]:
elastic.n_iter_

1000