In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv('matches.csv')

In [3]:
matches.shape

(756, 18)

In [4]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
pd.value_counts(matches['player_of_match']).head()   # most player of the match

CH Gayle          21
AB de Villiers    20
MS Dhoni          17
RG Sharma         17
DA Warner         17
Name: player_of_match, dtype: int64

In [7]:
deliveries = pd.read_csv('deliveries.csv')

In [8]:
deliveries.shape

(179078, 21)

In [9]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [12]:
pd.value_counts(deliveries['bowler']).head()  #most deliveries by bowler

Harbhajan Singh    3451
A Mishra           3172
PP Chawla          3157
R Ashwin           3016
SL Malinga         2974
Name: bowler, dtype: int64

In [13]:
six_df = deliveries[deliveries['batsman_runs'] == 6]

In [16]:
pd.value_counts(six_df['batsman']).head()   # who hit most six's

CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
Name: batsman, dtype: int64

In [19]:
deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head()   #most runs hit by a batsman

batsman
V Kohli      5434
SK Raina     5415
RG Sharma    4914
DA Warner    4741
S Dhawan     4632
Name: batsman_runs, dtype: int64

In [21]:
deliveries.groupby(['batting_team','match_id'])['total_runs'].sum().sort_values(ascending=False).head()  #highest run made by a team

batting_team                 match_id
Royal Challengers Bangalore  411         263
Kolkata Knight Riders        7937        250
Royal Challengers Bangalore  620         248
Chennai Super Kings          206         246
Kolkata Knight Riders        11338       241
Name: total_runs, dtype: int64

In [22]:
deliveries.groupby(['batting_team','match_id'])['total_runs'].sum().sort_values(ascending=False).tail()

batting_team                 match_id
Royal Challengers Bangalore  27          49
Kolkata Knight Riders        57          48
Sunrisers Hyderabad          489         44
Rajasthan Royals             11340       42
Royal Challengers Bangalore  571          2
Name: total_runs, dtype: int64

In [23]:
# Most stumpings by a Wicket Keeper

pd.unique(deliveries['dismissal_kind'])

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [27]:
stump_df = deliveries[deliveries['dismissal_kind'] == 'stumped']

In [28]:
stump_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1013,5,1,Royal Challengers Bangalore,Delhi Daredevils,9,4,SR Watson,KM Jadhav,S Nadeem,0,...,0,0,0,0,0,0,0,SR Watson,stumped,RR Pant
3024,13,2,Gujarat Lions,Rising Pune Supergiant,12,1,BB McCullum,SK Raina,RD Chahar,0,...,0,0,0,0,0,0,0,BB McCullum,stumped,MS Dhoni
3274,14,2,Sunrisers Hyderabad,Kolkata Knight Riders,14,2,DJ Hooda,Yuvraj Singh,SP Narine,0,...,0,0,0,0,0,0,0,DJ Hooda,stumped,RV Uthappa
4006,17,2,Royal Challengers Bangalore,Rising Pune Supergiant,11,3,AB de Villiers,KM Jadhav,Imran Tahir,0,...,0,0,0,0,0,0,0,AB de Villiers,stumped,MS Dhoni
4308,18,2,Kolkata Knight Riders,Delhi Daredevils,20,2,CR Woakes,MK Pandey,A Mishra,0,...,0,0,0,0,0,0,0,CR Woakes,stumped,RR Pant

In [31]:
pd.value_counts(stump_df['fielder']).head()    # Most stumpings by a Wicket Keeper

MS Dhoni        38
RV Uthappa      32
KD Karthik      29
WP Saha         18
AC Gilchrist    16
Name: fielder, dtype: int64

In [32]:
matches.value_counts('toss_decision')

toss_decision
field    463
bat      293
dtype: int64